* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #e8e8e8;
}

/*
    **HEADER
*/

.header {
    width: 100%;
    height: auto;
    max-height: 80px;
    background-color: #30475e;
    color: #ffffff;
    padding: 20px 40px;
}

.nav {
    width: 100%;
    height: auto;
    /*flex-box*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav ul li {
    list-style-type: none;
    display: inline-block;
}

.nav ul li a {
    text-decoration: none;
    padding: 10px 20px;
    color: #ffffff;
}

.res {
    text-align: center;
}

.content{
    width: 100%;
    height: auto;
    /*flex-box*/
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 50px 15%;
}

.content p{
    margin: 20px 0px;
}

.content ul li {
    margin-left: 30px;
}

/*
    **CONTAINER HOUSE MAP**
*/
.house_map-container {
    width: 1000px;
    height: 600px;
    margin: 5% auto;
    border: 3px solid #000000;
    /*CSS GRID*/
    display: grid;
    grid-template-columns: 45% 10% 45%;
    grid-template-rows: 37.5% 12.5% 12.5% 37.5%;
}

.part-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-color: #c2c2c2;
}

.bathroom-container {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    border-right: 1px solid #000000;
}

.dining_room-container {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    border-left: 1px solid #000000;
}

.kitchen_room-container {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    border-style: solid solid solid hidden;
    border-width: 1px;
    border-color: #000000;
}

.bedroom-container {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    border-right: 1px solid #000000;
}

.living_room-container {
    grid-column: 3 / 4;
    grid-row: 3 / 5;
    border-left: 1px solid #000000;
}
/*
    **pasillo**
*/
.doorway {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #ffffff;
}

.dw-bathroom {
    grid-column: 2/3;
    grid-row: 1/2;
}

.dw-kitchen {
    grid-column: 2/3;
    grid-row: 3/4;
}

.dw-bedroom {
    grid-column: 2/3;
    grid-row: 4/5;
}

.dw-livingroom {
    grid-column: 2/4;
    grid-row: 2/3;
}

/*
    **puerta**
*/
.door {
    width: 70px;
    height: 5px;
    background-color: #000000;
    border-radius: 5px;
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    transform-origin: 0% 25% 0;
    transform: rotate(215deg);
}

#d-kitchen{
    width: 60px;
}

/*
    **capa**
*/
.layer {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: 1;
}

.l-bathroom {
    display: block;
}

.l-kitchen {
    display: block;
}

.l-bedroom {
    display: block;
}

.l-dining_room {
    display: block;
}

.l-living_room {
    display: block;
}

/*
    **FOOTER

*/

.footer {
    width: 100%;
    height: 140px;
    background: rgb(48, 71, 94);
    background: radial-gradient(
        circle,
        rgba(48, 71, 94, 1) 16%,
        rgba(34, 40, 49, 1) 93%
    );
    bottom: 0;
    left: 0;
    z-index: 1;
    position: sticky;
}

.mary-container {
    width: 100%;
    height: 100%;
    /* flex-box */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.pulse-mary {
    animation: pulse-animation 1.5s infinite;
}

.mary {
    width: 70px;
    height: 70px;
    background-color: #f05454;
    border: 1px solid #a33838;
    border-radius: 50%;
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(240, 84, 84, 0.8);
    }
    100% {
        box-shadow: 0 0 0 20px rgba(240, 84, 84, 0);
    }
}

.mary-content {
    width: auto;
    height: auto;
    padding: 10px;
    font-size: 17px;
    color: #ffffff;
}
